@import './variables';
//*** All mix-ins are here ***//
@mixin everse-input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid $-color-gray;
  text-align: center;
  border-radius: 0;

  &::placeholder {
    color: $-color-light;
  }
  &:focus {
    box-shadow: none;
    background: transparent;
  }
}
@mixin everse-input-override {
  background: none !important;
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid $-color-gray !important;

  text-align: center;
  border-radius: 0 !important;

  &::placeholder {
    color: $-color-light !important;
  }
  &:focus {
    box-shadow: none !important;
    background: transparent !important;
  }
}

@mixin canScroll($maxHeight, $maxWidth) {
  max-height: $maxHeight;
  max-width: $maxWidth;
  overflow: auto;
  overflow-x: hidden;
  // visibility: hidden;
  scroll-snap-type: y mandatory;
  width: 100%;
  &::-webkit-scrollbar {
    width: 9px;
    &-track {
      background: rgba($-color-bg, 0.5);
      border-radius: 10px;
    }
    &-thumb {
      background: $-color-gray;
      border-radius: 10px;
      &:hover {
        background: rgba($-color-dark, 0.5);
      }
    }
  }
}

@mixin transparent-button {
  background: transparent;
  outline: none;
  border: none;
  color: inherit;
}

@mixin hover-effect {
  &:hover button {
    transition: all 0.3s linear;
    opacity: 1;
  }
}
