$-color-primary: #fd2254;
$-color-primary-alt: #ff6a00;
$-color-secondary: #551fff;
$-color-secondary-alt: #00b7fe;
$-color-gray: #d0d2da;
$-color-gray-alt: #d0d2da;
$-color-dark: #15192c;
$-color-dark-alt: #92959e;
$-color-black: #000;
$-color-white: #fff;

$-color-bg: #f4f5f7;
$-color-light: #f8f9fc;

$-font-primary: 'Alata', sans-serif;

$-size-lg: 50px !important;
$-size-md: 30px !important;
$-size-sm: 10px !important;
