@import '../../sass/mixins';
@import '../../sass/variables';

.weather {
  &__temp {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  &__temperature {
    min-width: 10rem;
    .current {
      width: 60%;
      padding: 0.1rem;
    }

    .units {
      width: 40%;
      & li {
        background: none;
        border: none;
        padding: 0 0.3rem;

        & > button {
          @include transparent-button();
        }
      }
      .isActive {
        color: $-color-white;
        transition: all 0.3s linear;
        font-size: 1.5rem;
      }
      .notActive {
        color: $-color-gray;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
        font-size: 1rem;
      }

      .divider {
        background-color: $-color-white;
        width: 100%;
        margin: 0rem;
      }
    }
  }

  &:hover .notActive {
    opacity: 1;
    visibility: visible;
  }
  &:hover .isActive {
    font-size: 1rem;
  }
  &__icon {
    color: currentColor;
  }
  @include hover-effect();
}
