@import '../../sass/mixins';
@import '../../sass/variables';

.weather {
  &__inner {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem;
  }

  &__unit {
    display: flex;
    justify-content: center;
    margin-top: -2em;
    h2 {
      font-size: 5rem;
    }
  }
  &__controls {
    display: grid;
    align-content: center;
    &-item {
      font-size: 2.5em;

      &--active {
        color: $-color-gray;
      }
    }
  }

  &__icon {
    font-size: 6rem;
    color: currentColor;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  &__location {
    font-size: 2.3em;
  }

  @include hover-effect();
}
