// Import all variables
@import './sass/variables';

// Defaults
* {
  margin: 0 !important; // Used to override the default bootstrap & ant-designs behavior
  padding: 0;
  box-sizing: border-box;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//   margin: 0;
// }

// Font family
@font-face {
  font-family: 'Alata';
  src: local('Alata'), url(./fonts/Alata-Regular.ttf) format('truetype');
}
//*** All Typography***//

// Index.js custom Style are all here
body {
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.4;
  font-family: $-font-primary;
  background: $-color-light;
  color: $-color-dark;
  user-select: none;

  &::after {
    opacity: 0;
  }

  .shepherd-active::after {
    content: '';
    display: block;
    background-color: #000 !important;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000000;
  }
  .shepherd-title {
    justify-content: center;
  }
  .shepherd-footer {
    justify-content: space-around;
    text-transform: uppercase;
  }
  .shepherd-element.shepherd-open,
  .shepherd-target.shepherd-enabled {
    z-index: 10000000;
    position: relative;
  }
}

.layout {
  .react-grid-item {
    .react-resizable-handle {
      background-color: rgba($-color-primary, 0.3);
      visibility: hidden;
      &:hover {
        background-color: rgba($-color-primary, 1);
      }
    }
    &:hover .react-resizable-handle {
      visibility: visible;
    }
  }
}

.toggledWidget {
  display: none;
  background-color: $-color-gray;
}

// All ant design elements are below
.message-box {
  .ant-message-notice-content {
    background-color: rgba($-color-dark, 0.5);
    color: $-color-white;
    padding: 1.5rem;
    // text-transform: capitalize;

    &:hover {
      background-color: rgba($-color-dark, 0.9);
      transition: all 0.3s ease-in-out;
    }
  }
  .ant-message-custom-content .ant-message-error {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
  }

  .ant-message-custom-content .ant-message-success {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
  }

  .ant-message-success .anticon {
    color: rgba($-color-secondary, 1);
  }
}
