@import '../../sass/mixins';
@import '../../sass/variables';

.layout {
  .react-grid-item {
    .react-resizable-handle {
      background-color: rgba($-color-primary, 0.3);
      visibility: hidden;
      &:hover {
        background-color: rgba($-color-primary, 1);
      }
    }
    &:hover .react-resizable-handle {
      visibility: visible;
    }
  }
}
